<div id="alerts" hx-swap-oob="beforeend">
    <p id="alert_without_signal" class="p-4 bg-teal-500 bg-opacity-50 text-white rounded-lg" hx-ext="remove-me" remove-me="30s">{{ team }} reconnected.</p>
</div>