<div id="alerts" hx-swap-oob="beforeend">
    <p id="alert_without_signal" class="p-4 bg-teal-500 bg-opacity-60 text-white rounded-lg shadow-lg shadow-teal-500" hx-ext="remove-me" remove-me="30s">{{ team }} reconnected.</p>
</div>