<tbody id="messages-responses" hx-swap-oob="beforeend">
        <tr>
            <td bg-cyan-400 bg-opacity-30></td><td class="border p-1">{{time}}</td><td class="border p-1">{{message | e}}</td><td bg-cyan-400 bg-opacity-30></td>
        </tr>
</tbody>