<tbody id="messages-responses" hx-swap-oob="beforeend">
        <tr>
            <td class="border p-1">{{ clowns_team }}</td><td class="border p-1">{{ time }}</td><td></td><td class="border p-1">{{message | e}}</td>
        </tr>
</tbody>