<tbody id="messages-responses" hx-swap-oob="beforeend">
        <tr>
            <td class="border p-1 bg-cyan-400 bg-opacity-35"></td>
            <td class="border p-1 bg-red-400 bg-opacity-70">{{time}}</td>
            <td class="border p-1 bg-cyan-400 bg-opacity-70">{{message | e}}</td>
            <td class="border p-1 bg-cyan-400 bg-opacity-35"></td>
        </tr>
</tbody>