<div class="flex items-center space-x-2 md:space-x-8 lg:space-x-16" id="note-clowns-teams-presence" hx-swap-oob="true">
    <span class="text-base md:text-xl lg:text-2xl text-orange-50">Zur Zeit im Haus ...  </span>
    <div class="flex items-center space-x-1.5 md:space-x-3 lg:space-x-6">
        {% if text_teams_online %}
            <span class="text-base md:text-xl lg:text-2xl text-green-500">{{ text_teams_online }}</span>
        {% endif %}
        {% if text_teams_online and text_teams_offline %}
            <span class="text-base md:text-xl lg:text-2xl text-orange-50">|</span>
        {% endif %}
        {% if text_teams_offline %}
            <span class="text-base md:text-xl lg:text-2xl text-orange-500">{{ text_teams_offline }}</span>
        {% endif %}
    </div>
</div>