<!DOCTYPE html>
<html lang="en">
{% include "head_htmx.html.j2" %}
<body>
    <div hx-ext="ws" ws-connect="/ws/">
        <h2>Neue Nachrichten:</h2>
        <table class="min-w-[50%] mb-4">
            <thead class="border-b text-lg">
                <tr>
                    <th class="border">gesendet</th>
                    <th class="border">empfangen</th>
                </tr>
            </thead>
            <tbody class="text-center text-sm" id="messages-responses">
            </tbody>
        </table>
        <form id="form" ws-send>
            <div><input  class="bg-green-300" name="chat-message"></div>
            <div><button class="bg-blue-300 shadow-lg" ws-send>send</button></div>
        </form>
    </div>
</body>
</html>