<!DOCTYPE html>
<html lang="en">
{% include "head_htmx.html.j2" %}
<body style="overflow: auto; display: block; background-image: url({{ url_for('static', path='background_clown_call.png') }}); background-size: cover;">
    {% include "responses/audio_alert.html.j2" %}
    <div id="alerts" class="fixed top-0 right-0 m-8 space-y-4"></div>

    <div class="px-8" hx-ext="ws" ws-connect="/ws/">
        <div>
            <div class="flex items-center space-x-32">
                <h1 class="text-4xl font-bold text-blue-100">{{ department_name }}</h1>
                <span class="text-2xl text-orange-50 ml-8" id="note-clowns-teams-presence" hx-swap-oob="true">Zur Zeit im Haus ...  Kein Team</span>
            </div>
            <h2 class="text-2xl font-bold text-blue-100">{{ department_descriptive_name }}</h2>
        </div>
        <div class="overflow-auto max-h-[calc(100vh-8rem)]" id="messages-container">
            <table class="min-w-[50%] mb-4 w-9/10 mx-auto mt-8">
                <thead class="border-b text-lg">
                    <tr>
                        <th class="border p-1 bg-cyan-400 bg-opacity-70">Clowns-Team</th>
                        <th class="border p-1 bg-red-600 bg-opacity-70">Zeit</th>
                        <th class="border p-1 bg-cyan-400 bg-opacity-70">gesendet</th>  
                        <th class="border p-1 bg-cyan-400 bg-opacity-70">empfangen</th>
                    </tr>
                </thead>

                <tbody class="text-center text-sm" id="messages-responses">
                </tbody>
            </table>
        </div>
        <form class="mt-4 w-9/10 mx-auto" id="form" ws-send>
            <div class="flex">
                {% include "responses/empty_message_input.html" %}
                <button class="bg-cyan-500 font-bold hover:bg-emerald-500 py-2 px-4 rounded-r-lg ml-2" ws-send>send</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', path='/scripts/scroll_table_responses.js') }}"></script>

</body>
</html>