<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clown Call</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
        <h2>Your ID: <span id="ws-id"></span>, Your name: {{ user_name }}</h2>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        {% block javascript %}
        <script>
            {% include "scripts/ws_connect.js" %}
        </script>
        {% endblock %}
</body>
</html>