<header style="background-color: #f0f0f0; padding: 20px; text-align: center;">
    <img src="{{ url_for('static', path='hhh_logo.png') }}" alt="Grafik Humor Hilft Heilen" style="max-width: 20%; height: auto;">
    <h1 style="font-size: 24px; margin-top: 10px;">Willkommen bei Clown Call</h1>
</header>