<header class="bg-white text-left pt-6 pb-6">
    <div class="flex items-center">
        <img src="{{ url_for('static', path='hhh_logo.png') }}" alt="Grafik Humor Hilft Heilen" style="max-width: 5%; height: auto;">
        <h1 class="text-4xl text-black ml-4" style="font-size: 24px;">Willkommen bei Clown Call</h1>
    </div>
</header>