<header class="bg-white bg-opacity-70">
    <div class="flex items-center">
        <img class="pl-6" src="{{ url_for('static', path='hhh_logo.png') }}" alt="Grafik Humor Hilft Heilen" style="max-width: 5%; height: auto;">
        <h1 class="text-6xl font-bold text-black ml-4">Willkommen bei Clown Call</h1>
    </div>
</header>