<table class="min-w-[50%] mb-4 w-9/10 mx-auto">
    <thead class="border-b text-lg">
        <tr>
            <th class="border p-1 bg-cyan-400 bg-opacity-70">Clowns-Team</th>
            <th class="border p-1 bg-red-400 bg-opacity-70">Zeit</th>  
            <th class="border p-1 bg-cyan-400 bg-opacity-70">empfangen</th>
            <th class="border p-1 bg-cyan-400 bg-opacity-70">gesendet</th>
        </tr>
    </thead>

    <tbody class="text-center text-sm" id="messages-responses">
    </tbody>
</table>